.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.buffer-title {
  color: bisque;
  margin-top: 30px;
}

.scoreWrap {
  float: left;
}

.timeWrap {
  float: right;
}

.outerWrap:after {
  font-size: 1em;
  content: "";
  display: block;
  clear: both;
}

.bg {
  background-color: #3f51b5;
}

.scoreWrap p,
.scoreWrap span,
.timeWrap p,
.timeWrap span {
  font-size: 1.5em;
  color: #ffc10a;
  margin-bottom: 1%;
}

.wordsWrap,
.wordsWrap p {
  margin: 0;
}

.words span {
  font-size: 3em;
  letter-spacing: 1px;
  color: #000;
}

.buffer {
  min-height: 1.5em;
  font-size: 3em;
  letter-spacing: 1px;
  background-color: #ddd;
  color: #3f51b5;
  border-radius: 5px;
}

#keyboardWrap-tf {
  display: flex;
  justify-content: flex-end;
}

#keyboard-tf {
  width: 10%;
  cursor: zoom-in;
}
