@font-face {
  font-family: "Noto Sans Khmer";
  src: url("/fonts/NotoSansKhmer-Regular.ttf") format("truetype");
}

:root {
  font-family: "Noto Sans Khmer", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #2197f3;
  text-decoration: inherit;
}
a:hover {
  color: #3f51b5;
}

#root {
  width: 100%;
}
